.span-1{
    color: #FA804C;
}
.span-2{
    color: 
    #363958;
}
.bg-first {
    background-color: #FFF9F4;
}
.bg-second{
    background-color: rgb(236, 211, 211);
}
.pic-1{
    width: 176px;
    height: 95px;
}